# Collecting Data:

We use the pandas datareader library to collect data of 50 large, mid and small cap stocks from NASDAQ.

Importing Necessary Libraries

In [44]:
import pandas_datareader as pdr

In [45]:
import datetime

In [69]:
import pandas as pd

Defining the start and end dates

In [46]:
start = datetime.datetime(2006, 1, 1)
end = datetime.datetime(2020, 9, 30)
start_date_str = str(start.date())
end_date_str = str(end.date())

Listing all Companies whose stocks we have decided to look at. The companies are:
'AXP'-American Express Financial services
'AAPL'-Apple Technology
'AMZN'-Amazon.com E-commerce
'ADBE'-Adobe Computer software
'ADS'-Alliance Data Systems Corporation
'BA'-Boeing Aerospace
'BAC'-Bank of America Investment banking
'CAT'-Caterpillar Inc. Construction machinery and equipment
'CVX'-Chevron Corporation Oil industry
'CSCO'-Cisco Systems Networking hardware
'COST'-Costco Retail
'DIS'-The Walt Disney Company Mass media
'FB'-Facebook Social Media
'GE'-General Electric Multinational conglomerate
'GS'-Goldman Sachs Investment banking
'GOOGL'-Alphabet Inc. Multinational conglomerate
'HD-The Home Depot Home improvement'
'HDB'-HDFC Bank Financial services
'HOG'-Harley-Davidson motorcycle manufacturer
'IBM'-IBM Computer hardware
'INTC'-Intel Semiconductor
'INFY'-Infosys Information technology consulting
'JNJ'-Johnson & Johnson Medical device
'JPM'-JPMorgan Chase Investment banking
'JBHT'-J.B. Hunt Transportation and Logistics
'KO'-The Coca-Cola Company Beverages
'KEX'-Kirby Corporation Transportation
'MCD'-McDonald's Fast food
'MSFT'-Microsoft Corporation Technology
'MMM'-3M Multinational conglomerate
'MRK'-Merck & Co. Pharmaceutical
'NFLX'-Netflix Production
'NKE'-Nike Footwear manufacturing
'NVDA'-Nvidia Computer Hardware and Software 
'PFE'-Pfizer Pharmaceutical
'PG'-Procter & Gamble Consumer Goods
'PEP'-PepsiCo Food
'REGN'-Regeneron Pharmaceuticals Biotechnology
'SBUX'-Starbucks Coffeehouse
'TRV'-The Travelers Companies Insurance
'TGT'-Target Corporation Retail
'T'-AT&T Telecommunications
'UTX'-Raytheon Technologies Corporation Aircraft manufacturing
'UNH'-UnitedHealth Group Managed care
'UPS'-United Parcel Service Logistics
'UNP'-Union Pacific Corporation Transport
'VZ'-Verizon Communications Telecommunications
'WMT'-Walmart Retail
'XOM'-ExxonMobil multinational oil and gas
'YUM'-Yum! Brands Fast food

Thse companies come under various sectors such as:
Energy
Materials
Industrials
Utilities
Healthcare
Financials
Consumer Discretionary
Consumer Staples
Information Technology
Communication Services
Real Estate

In [67]:
stocks = ['MMM', 'AXP', 'AAPL', 'BA', 'CAT', 'CVX', 'CSCO', 'KO', 'DIS', 'XOM', 'GE',
          'GS', 'HD', 'IBM', 'INTC', 'JNJ', 'JPM', 'MCD', 'MRK', 'MSFT', 'NKE', 'PFE',
          'PG', 'TRV', 'UTX', 'UNH', 'VZ', 'WMT', 'GOOGL', 'AMZN','ADBE','COST','NVDA',
          'PEP','REGN','SBUX','ADS','INFY','TGT','HOG','T','BAC','UPS','UNP','JBHT','KEX','FB','NFLX','YUM','HDB']

## Collecting the data:

The data is collected for each company from the start date to the end date and are stored in csv files.

In [68]:
for ticker in stocks:
    file_name = 'data/' + ticker + '_' + start_date_str + '_to_' + end_date_str + '.csv'
    print(file_name)
    data = pdr.DataReader(ticker, 'yahoo', start, end)
    print(data.shape)
    data.to_csv(file_name)

data/MMM_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/AXP_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/AAPL_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/BA_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/CAT_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/CVX_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/CSCO_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/KO_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/DIS_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/XOM_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/GE_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/GS_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/HD_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/IBM_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/INTC_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/JNJ_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/JPM_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/MCD_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/MRK_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/MSFT_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/NKE_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/PFE_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/PG_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/TRV_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/UTX_2006-01-01_to_2020-09-30.csv
(3590, 6)
data/UNH_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/VZ_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/WMT_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/GOOGL_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/AMZN_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/ADBE_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/COST_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/NVDA_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/PEP_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/REGN_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/SBUX_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/ADS_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/INFY_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/TGT_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/HOG_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/T_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/BAC_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/UPS_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/UNP_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/JBHT_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/KEX_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/FB_2006-01-01_to_2020-09-30.csv
(2106, 6)
data/NFLX_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/YUM_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/HDB_2006-01-01_to_2020-09-30.csv
(3712, 6)

In [70]:
for (i, ticker) in enumerate(stocks):
    file_name = 'data/' + ticker + '_' + start_date_str + '_to_' + end_date_str + '.csv'
    print(file_name)
    data = pd.read_csv(file_name, parse_dates=['Date'], index_col=['Date'])
    print(data.shape)
    data['Name'] = ticker
    data.to_csv(file_name)
    
    if i == 0:
        all_stocks = data
    else:
        all_stocks = all_stocks.append(data)
        
print(all_stocks.shape)
all_stocks_file_name = 'data/all_stocks_' + start_date_str + '_to_' + end_date_str + '.csv'
all_stocks.to_csv(all_stocks_file_name)

data/MMM_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/AXP_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/AAPL_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/BA_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/CAT_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/CVX_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/CSCO_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/KO_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/DIS_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/XOM_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/GE_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/GS_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/HD_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/IBM_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/INTC_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/JNJ_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/JPM_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/MCD_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/MRK_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/MSFT_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/NKE_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/PFE_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/PG_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/TRV_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/UTX_2006-01-01_to_2020-09-30.csv
(3590, 6)
data/UNH_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/VZ_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/WMT_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/GOOGL_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/AMZN_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/ADBE_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/COST_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/NVDA_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/PEP_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/REGN_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/SBUX_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/ADS_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/INFY_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/TGT_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/HOG_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/T_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/BAC_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/UPS_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/UNP_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/JBHT_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/KEX_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/FB_2006-01-01_to_2020-09-30.csv
(2106, 6)
data/NFLX_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/YUM_2006-01-01_to_2020-09-30.csv
(3712, 6)
data/HDB_2006-01-01_to_2020-09-30.csv
(3712, 6)
(183872, 7)

In [71]:
print(all_stocks.shape)

(183872, 7)

In [72]:
all_stocks = pd.read_csv(all_stocks_file_name, parse_dates=['Date'], index_col=['Date'])

In [73]:
all_stocks_2019 = all_stocks.loc['2019']

In [74]:
all_stocks_2019

,High,Low,Open,Close,Volume,Adj Close,Name
Date,,,,,,,
2019-01-02,190.990005,186.699997,187.820007,190.949997,2475200.0,179.635086,MMM
2019-01-03,188.279999,182.889999,188.279999,183.759995,3358200.0,172.871124,MMM
2019-01-04,191.979996,186.029999,186.750000,191.320007,2995100.0,179.983185,MMM
2019-01-07,192.300003,188.660004,191.360001,190.880005,2162200.0,179.569214,MMM
2019-01-08,194.110001,189.580002,193.000000,191.679993,2479800.0,180.321808,MMM
...,...,...,...,...,...,...,...
2019-12-24,63.849998,63.279999,63.450001,63.779999,475100.0,63.779999,HDB
2019-12-26,63.639999,62.930000,62.990002,63.299999,703700.0,63.299999,HDB
2019-12-27,63.689999,62.970001,63.639999,63.110001,733300.0,63.110001,HDB
2019-12-30,63.700001,62.790001,63.520000,62.939999,980200.0,62.939999,HDB
2019-12-31,63.400002,62.730000,62.820000,63.369999,514300.0,63.369999,HDB

In [75]:
pdr.nasdaq_trader.get_nasdaq_symbols(retry_count=1, timeout=30, pause=None)

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
A,True,"Agilent Technologies, Inc. Common Stock",N,,False,100.0,False,NaN,A,A,False
AA,True,Alcoa Corporation Common Stock,N,,False,100.0,False,NaN,AA,AA,False
AAA,True,Listed Funds Trust AAF First Priority CLO Bond...,P,,True,100.0,False,NaN,AAA,AAA,False
AAAU,True,Perth Mint Physical Gold ETF,P,,True,100.0,False,NaN,AAAU,AAAU,False
AACG,True,ATA Creativity Global - American Depositary Sh...,Q,G,False,100.0,False,N,NaN,AACG,False
...,...,...,...,...,...,...,...,...,...,...,...
ZXYZ.A,True,Nasdaq Symbology Test Common Stock,Q,Q,False,100.0,True,N,NaN,ZXYZ.A,False
ZXZZT,True,NASDAQ TEST STOCK,Q,G,False,100.0,True,N,NaN,ZXZZT,False
ZYME,True,Zymeworks Inc. Common Shares,N,,False,100.0,False,NaN,ZYME,ZYME,False
ZYNE,True,"Zynerba Pharmaceuticals, Inc. - Common Stock",Q,G,False,100.0,False,N,NaN,ZYNE,False
ZYXI,True,"Zynex, Inc. - Common Stock",Q,S,False,100.0,False,N,NaN,ZYXI,False